/* Estilos básicos para todos los tamaños */
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

/* Pantallas pequeñas (ancho menor a 600px) */
@media (max-width: 599px) {
  #container strong {
    font-size: 18px;
    color: blue;
  }

  #container p {
    font-size: 14px;
    color: green;
  }

  #container {
    background-color: #f0f8ff;
  }
}

/* Pantallas medianas (ancho entre 600px y 1024px) */
@media (min-width: 600px) and (max-width: 1024px) {
  #container strong {
    font-size: 22px;
    color: darkorange;
  }

  #container p {
    font-size: 18px;
    color: darkgreen;
  }

  #container {
    background-color: #fff0f5;
  }
}

/* Pantallas grandes (ancho mayor a 1024px) */
@media (min-width: 1025px) {
  #container strong {
    font-size: 26px;
    color: purple;
  }

  #container p {
    font-size: 20px;
    color: navy;
  }

  #container {
    background-color: #e6ffe6;
  }



/* Ocultar el botón de orientación horizontal por defecto */
.boton-landscape {
  display: none;
}

/* Ocultar el botón de orientación vertical cuando el dispositivo está en modo horizontal */
@media (orientation: landscape) {
  .boton-portrait {
    display: none;
  }

  .boton-landscape {
    display: block;
  }
}


}